@page "/Orders/SaleConfirmed"

<center>
    <h3>Confirmed order</h3>
    <img src="images/Shopping.png" width="300" />
    <p>Your order has been confirmed. You will receive your products soon, thank you. </p>
    <a href="/" class="btn btn-primary">Return to Home</a>
</center>

