<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity!.Name</span>
        <a href="Logout" class="nav-link btn btn-link">Close Session</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register" class="nav-link btn btn-link">Sign up</a>
        <a href="Login" class="nav-link btn btn-link">Sign in</a>
    </NotAuthorized>
</AuthorizeView>


