@typeparam TItem

@if(MyList is null)
{
        @if (Loading is null)
        {
            <div class="spinner" />
        }
        else
        {
            @Loading
        }
}
else if (!MyList.Any())
{
    if (NoRecords is null)
    {
        <div class="align-items-center">
            <p>There are no records!</p>
        </div>
    }
    else
    {
        @NoRecords
    }
    
}
else
{
    @Body
}


@code {
    [Parameter]
    public RenderFragment? Loading { get; set; }

    [Parameter]
    public RenderFragment? NoRecords { get; set; }

    [EditorRequired]
    [Parameter]
    public RenderFragment Body { get; set; } = null!;

    [EditorRequired]
    [Parameter]
    public List<TItem> MyList { get; set; } = null!;

}

