@page "/countries"
@inject IRepository repository

<h3>Countries</h3>

<GenericList MyList="Countries">
    <Loading>
        <p>Loading...</p>
    </Loading>
    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var country in Countries!)
                {
                    <tr>
                        <td>
                            <a class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger">Delete</button>
                        </td>
                        <td>
                            @country.Name
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </Body>
    <NoRecords>
        There are no countries to show.
    </NoRecords>
</GenericList>

@code {
    public List<Country>? Countries { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var responseHttp = await repository.GetAsync<List<Country>>("api/countries");
        Countries = responseHttp.Response;
    }
}

